<nav id="navRiba" class="sticky-top">
    <div class="d-flex justify-content-center">
        <a href="HTML_EDASIMÜÜJAD.html" type="btn" class="p-2 btn btn-outline-light">EDASIMÜÜJAD</a>
        <a href="/K%C3%BCmbrik/pood" type="btn" onclick="" class="p-2 btn btn-outline-danger">POOD</a>
        <a href="HTML_TELLI_ENDA_DISAIN.html" type="btn" class="p-2 btn btn-outline-danger">TELLI ENDA DISAIN</a>
        <a href="HTML_MEIE_DISAINERID.html" type="btn" class="p-2 btn btn-outline-light">MEIE DISAINERID</a>
        <a href="HTML_MEIST.html" type="btn" class="p-2 btn btn-outline-light">MEIST</a>
    </div>
</nav>